#img {
  width: 251px;
  background: yellow;
  margin: 0px;
  position: relative;
  bottom: 239px;
}

.img-poke {
  height: 70px;
}

.wrapper-img {
  width: 250px;
  height: 239px;
  border: 12px solid yellow;
  border-radius: 7px;
  margin-top: 30px;

  @include phone {
    margin: auto;
  }
}
.wrapper-id-name {
  display: inline-block;
  background: rgb(17, 88, 199);
  padding: 8px;
  border-radius: 7px;
  color: whitesmoke;
}
.type {
  padding: 7px;
  border-radius: 4px;
  margin: 8px;
  display: inline-block;
}
.name-type {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
}
.cards {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include phone {
    justify-content: center;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
  }
}
.egg {
  height: 238px;
}
.card-info {
  padding: 0px;
  border-radius: 6px;
  font-size: 20px;
  background: rgba(211, 211, 155, 0.7);
  line-height: 54px;
  margin: 10px;
  @include desktop {
    margin-top: 30px;
    padding: 20px;
    margin-left: 32px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    margin: 30px;
  }
}
.card-types {
  margin-top: 31px;
  margin-bottom: 36px;
  padding: 20px;
  margin: 30px;
  line-height: 38px;
  background: rgba(211, 211, 155, 0.7);
  font-size: 20px;
}
.font-cards {
  width: 100%;
  height: auto;
  position: absolute;
}
.icono {
  height: 60px;
  width: 60px;
  position: relative;
  bottom: 41px;
  right: 21px;
}

.name {
  border-radius: 6px;
  font-size: 26px;
}

.wrapper-pokebola {
  margin-top: 12px;
}
.wrapper-pokebola-name {
  display: flex;
  align-items: center;
}
.wrapper-name-ability {
  display: flex;
  @include phone {
    display: block;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    justify-content: center;
  }
}
